:root {
    --blue-gray: #edeff5;
    --light-indigo: #741ffe;
}

body {
    background-color: var(--blue-gray);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
}